
* {
    font-family: 'Alata', sans-serif;
}

.top_heading {
    font-family: 'Wallpoet', cursive;
} 

.LeftPartSecond {
    display: inline-block;
    width: 65.9%;
    border: 5px solid green;
}

.RightPartFirst {
    display: inline-block;
    width: 33%;
    float: right;
    border: 5px solid red;
}
