.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.WarObject{
   display:inline;
   position: relative;
   text-align: center;
}

.verticalCenter{
  display:inline-block;
  bottom: 50%;
  transform: translateY(50%);
}


