li {
    color: silver;
}


#MainTitle {
    border: solid thick yellow;
}

.top_heading {
    color: wheat;    
}

.top_heading.main {
    border-style: dashed;
    border-color: red;
    border-radius: 10%;
}

/* |= can only select a prefix followed by a hyphen */
/* HTML5 tags or attributes are case insentive */
*[id^=Log][id|=Login][ID*='hyphen'i]{ 
    border-style: dotted solid dotted solid;
    border-width: medium;
    border-color: lightgreen;
}


div > p {
    font-size: larger;
}
p > p {
    font-weight: bolder;
    font-size: larger;
}

p {
    text-indent: 3em;
    color: greenyellow;
    margin: 0;
    line-height: 200%;
}



