
li {
    color: silver;
}


#MainTitle {
    border: solid thick yellow;
}

.top_heading {
    color: wheat;    
}

.top_heading.main {
    border-style: dashed;
    border-color: red;
    border-radius: 10%;
}

/* |= can only select a prefix followed by a hyphen */
/* HTML5 tags or attributes are case insentive */
*[id^=Log][id|=Login][ID*='hyphen'i]{ 
    border-style: dotted solid dotted solid;
    border-width: medium;
    border-color: lightgreen;
}
/* > select immediate descendants */
.list > ol li, .list > div ol li + li + li{
    font-size: 200%;
}

ul > li:nth-last-child(n + 3) {
    color:gold;
}

/* meaning there are 4 children in total */
ol > li:nth-last-child(4):first-of-type ~ li {
    text-transform: capitalize;
}
/* select even */
ol > li:not(:nth-child(2n + 1)) {
    color:khaki;
}

/* ul > *:first-child, ol > :first-child */
/* same effect as the line above */

li:first-child {
    background-color: tomato;
}

div:last-child {
    font-style: italic;
}

p:last-child {
    text-transform: uppercase;
    color: aqua;
}

/* same as :only-of-type */
h1:first-of-type:last-of-type {
    text-transform: uppercase;
    color: orange;
}

/* selects any li that FOLLOWS another li !!!! */
/* previou li hovered, current li highlighted */
li:hover + li {
    color: aqua;
}

:target {
    background-color:navy;
}